<section class='section py-0'>
  <h1 class='is-size-3 has-text-centered'><%= link_to "#{@user.username}'s Posts", @user %></h1>
</section>

<section class='section'>
  <div class='posts-container'>
    <%= render partial: 'posts/post', collection: @posts, as: :post %>
  </div>
</section>