<%= turbo_frame_tag likeable.container_id(:like_form), class: 'is-flex is-align-items-center' do %>
  <%= form_with url: [likeable, :likes], method: :delete do |form| %>
    <%= form.hidden_field :likeable_id, value: likeable.id %>
    
    <button type="submit" class='button-link'>
      Unlike
    </button>
  <% end %>
<% end %>