<div class='is-flex gap-1 is-justify-content-end'>
  <% unless notification.acknowledged? %>
    <%= form_with model: notification do |form| %>
      <%= form.hidden_field :acknowledged, value: true %>

      <%= button_tag type: :submit, class: 'button is-success is-small' do %>
        <span class="material-symbols-rounded is-size-5">check</span>
      <% end %>
    <% end %>
  <% end %>

  <%= button_to notification_path(notification), method: :delete, class: 'button is-danger is-small' do %>
   <span class="material-symbols-rounded is-size-5">delete_forever</span>
  <% end %>
</div>