<div class='is-flex gap-1'>
  <% unless notification.acknowledged? %>
    <%= button_to 'Acknowledge', '' %>  
  <% end %>
  
  <%= button_to 'Delete', notification_path(notification), method: :delete, data: { turbo: false } %>
</div>