<section class="section py-0">
  <h1 class='is-size-3 has-text-centered'>User Feed</h1>
  
  <span class='is-centered'><%= link_to 'New Post', new_post_path %></span>
</section>

<section class="section">
  <div class='feed-container'>
    <%= render partial: 'posts/post', collection: @posts, as: :post %>
  </div>
</section>

<%= render layout: 'shared/page_ranges', locals: { page_ranges: @page_ranges } do |page| %>
  <% feed_path(page: page != 1 ? page : nil) %>
<% end %>