<section class="section py-0">
  <h1 class='is-size-3 has-text-centered'>User Feed</h1>
  
  <p class='has-text-centered'>
    What's on your mind?&nbsp;<%= link_to 'Create a Post', new_post_path, data: { turbo: false } %>
  </p>
</section>

<section class="section">
  <% if @posts.size > 0 %>
    <div class='feed-container'>
      <%= render partial: 'posts/post', collection: @posts, as: :post %>
    </div>    
  <% else%>
   <p class='has-text-centered'>There isn't anything to show on your feed.</p>
   <p class='has-text-centered'>Maybe it's time to <%= link_to 'make some friends', users_path %>?</p>
  <% end %>
</section>

<%= render layout: 'shared/page_ranges', locals: { page_ranges: @page_ranges } do |page| %>
  <% feed_path(page: page != 1 ? page : nil) %>
<% end %>