<p class='mb-2'>The item for this notification no longer exists. You can delete it. Sorry :(</p>
<%= render partial: 'notifications/shared/interaction_links', locals: { notification: notification } %>