<div class="border-light border-curved is-flex is-flex-direction-column p-2 mb-3">
  <span>
    <%= time_ago_in_words(comment.created_at) %> ago on <%= link_to comment.owner.user.username, user_path(comment.owner.user) %>'s 
    <%= link_to comment.owner.class.name.downcase, comment.owner %>:
  </span>

  <hr class="my-1 has-background-grey">

  <%= comment.message %>
</div>