<div class="is-flex mb-4">
  <div class="image is-48x48"><img class="is-rounded" src="<%= gravatar_url(post.user.email, 48)%>" alt=""></div>
  <div class="is-flex is-flex-direction-column ml-2">
    <p><%= post.user.username %></p>
    <p><%= post.created_at %></p>
  </div>
</div>

<p class="mb-2"><%= post.content %></p>