<div class="is-flex is-justify-content-space-between">
  <% if true %>
    <span><%= comment.likes_count %> Likes</span>
    <span><%= link_to "#{comment.comments_count} Comments", comment %></span>
  <% end %>
</div>