<div class="is-flex is-justify-content-space-between">
  <% if true %>
    <span><%= comment.likes_count %> Likes</span>
    <span><%= comment.comments_count %> Comments</span>  
  <% end %>
  
  <% if false %>
    <span><%= comment.likes.size %> Likes</span>
    <span><%= comment.comments.size %> Comments</span>
  <% end %>
</div>