<% if post.user == current_user %>
  <%= turbo_frame_tag post.container_id(:delete_link) do %>  
    <% if post.soft_deleted? %>
        <%= link_to post_path(post, post: { soft_deleted: false }), method: :put,
          class: 'ml-1 is-flex is-align-items-center', 
          data: { turbo_stream: true, turbo_method: :patch } do %>  
            <span class="material-symbols-rounded">restore_from_trash</span>
            Undelete
          <% end %>
    <% else %>
      <%= link_to post_path(post, post: { soft_deleted: true }), method: :put, 
        class: 'ml-1 is-flex is-align-items-center',  
        data: { turbo_stream: true, turbo_method: :patch } do %>  
          <span class="material-symbols-rounded">delete</span>
          Delete
        <% end %>
    <% end %> 
  <% end%>        
<% end %>