<section class='section py-0'>
  <h1 class='is-size-3 has-text-centered'><%= @user.username %>'s Comments</h1>
</section>

<section class='section'>
  <div class='comments-container columns is-centered'>
    <div class='column is-half-desktop'>
      <% if @comments.size > 0 %>
        <%= render partial: 'comments/comment', collection: @comments, as: :comment %>
      <% else %>
        <p class='has-text-centered'><%= @user.username %> has never made a comment.</p>
      <% end %>
    </div>
  </div>
</section>

<%= render layout: 'shared/page_ranges', locals: { page_ranges: @page_ranges } do |page| %>
  <% user_comments_path(@user, page: page != 1 ? page : nil) %>
<% end %>