<div class="container bordered">
  <span class='is-size-3'>User Posts</span>
  <%= link_to 'New Post', new_post_path %>
</div>

<section class="section">
  <%= render partial: 'post', collection: @posts %>
</section>