<section class="section py-0">
  <h1 class='is-size-3 has-text-centered'>Post Details</h1>
</section>

<section class="section">
  <%= render partial: 'posts/post', locals: { post: @post } %>
</section>
