/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

 div.field_with_errors {
  display: inline;
}

.border-light {
  border: 1px solid lightgray;
}

.border-curved {
  border-radius: 15px;
}

.post-container, .comment-container {
  max-width: 900px;
}

.gap-1 {
  gap: 1rem;
}

.is-size-smaller {
  font-size: smaller;
}

/* bulma has-text-grey-lighter equivalent */
a {
  color: $grey-lighter;
}

/* bulma has-text-white-ter equivalent */
a:hover {
  color: $white-ter;
}

.is-word-break-all {
  word-break: break-all;
}

form.hide-submit input[type="submit"] {
  display: none;
}

.button-link {
  border: 0px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: inherit;
  color: $grey-lighter;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: $white-ter;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
  }

  // Remove all padding and height so it's just plain, unpadded text.
  &.button-text {
    padding: 0;
    height: unset;
  }
}

.like {
  font-variation-settings:
  'FILL' 0;

  color: $grey-lighter;
  // font-size: 1.25rem;
}

.like:hover {
  color: $white-ter;
}

.unlike {
  color: hsl(217, 71%, 63%);
}

.unlike:hover {
  color: hsl(217, 71%, 53%);
}

.icon-counter {
  right: 4px;
  top: 6px;
  position: absolute;
  background: blue;
  border-radius:  10px;
  padding: 2px;
  width: 20px;
  font-weight: bold;
}